{% extends 'registration/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="." method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <input type="submit" value="Change Password">
                </div>
                <input type="hidden" name="next" value="{{next}}">
            </form>
        </div>
    </div>
</div>
{% endblock %}