{% extends 'registration/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="authentication" style="height: 18rem;">
    {% if validlink %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_new_password1">New password</label>
            <input type="password" name="new_password1" class="form-control" placeholder="New password" title="Your password can&amp;#39;t be too similar to your other personal information.Your password must contain at least 8 characters.Your password can&amp;#39;t be a commonly used password.Your password can&amp;#39;t be entirely numeric." required="" id="id_new_password1">
        </div>
        <div class="form-group">
            <label for="id_new_password2">New password confirmation</label>
            <input type="password" name="new_password2" class="form-control" placeholder="New password confirmation" title="" required="" id="id_new_password2">
        </div>
        <div class="form-group">
            <input type="submit" value="Reset">
        </div>
        <input type="hidden" name="next" value="{{next}}">
    </form>
    {% else %}
    <h3>Password Reset has failed</h3>
    {% endif %}
</div>
{% endblock %}