{% extends 'registration/base.html' %} 
{% load bootstrap4 %} 

{% block content %}
<div class="authentication" style="height: 31rem;">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" name="username" maxlength="150" autofocus="" class="form-control" placeholder="Username"
                title="Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only." required="" id="id_username">
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email" title="email address" required=""
                id="id_email">
        </div>
        <div class="form-group">
            <label for="id_password1">Password</label>
            <input type="password" name="password1" class="form-control" placeholder="Password" title="Your password can&amp;#39;t be too similar to your other personal information.Your password must contain at least 8 characters.Your password can&amp;#39;t be a commonly used password.Your password can&amp;#39;t be entirely numeric." required="" id="id_password1">
        </div>
        <div class="form-group">
            <label for="id_password2">Password confirmation</label>
            <input type="password" name="password2" class="form-control" placeholder="Password confirmation"
                title="Enter the same password as before, for verification." required="" id="id_password2">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Register">
        </div>
    </form>
    <p>Have an account?
        <a href="/accounts/login/">Login</a>
    </p>
</div>
{% endblock %}