{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    {% block styles %}
        {% bootstrap_css %}
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>